<div class="mt-4">
  <div class="card shadow mb-3">
    <div class="card-header fa-2x font-w-700 text-center">
      <div class="text-primary font-weight-bold">تعديل خبر</div>
    </div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onAdd()" #addForm="ngForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="">العنوان بالعربى</label>
              <input
                type="text"
                class="form-control"
                name="nameAr"
                id="title"
                placeholder="العنوان بالعربى..."
                formControlName="nameAr"
              />
  
              <div
                *ngIf="NameAr.hasError('required') && addForm.submitted"
                class="error-msg p-1 small"
                role="alert"
              >
                <i class="fas fa-times-circle me-2"></i>
                العنوان مطلوب
              </div>
  
              <div
                *ngIf="NameAr.errors?.minlength && addForm.submitted"
                class="error-msg p-1 small"
                role="alert"
              >
                <i class="fas fa-times-circle me-2"></i>
                العنوان يجب ان يكون عالاقل 3 حروف
              </div>
  
              <div
                *ngIf="NameAr.errors?.maxlength && addForm.submitted"
                class="error-msg p-1 small"
                role="alert"
              >
                <i class="fas fa-times-circle me-2"></i>
                يجب الا يزيد العنوان عن 50 حرف
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">العنوان بالانجليزى</label>
              <input
                type="text"
                class="form-control"
                name="nameEn"
                id="title"
                placeholder="العنوان بالانجليزى..."
                formControlName="nameEn"
              />
  
              <div
                *ngIf="NameEn.hasError('required') && addForm.submitted"
                class="error-msg p-1 small"
                role="alert"
              >
                <i class="fas fa-times-circle me-2"></i>
                العنوان مطلوب
              </div>
  
              <div
                *ngIf="NameEn.errors?.minlength && addForm.submitted"
                class="error-msg p-1 small"
                role="alert"
              >
                <i class="fas fa-times-circle me-2"></i>
                العنوان يجب ان يكون عالاقل 3 حروف
              </div>
  
              <div
                *ngIf="NameEn.errors?.maxlength && addForm.submitted"
                class="error-msg p-1 small"
                role="alert"
              >
                <i class="fas fa-times-circle me-2"></i>
                يجب الا يزيد العنوان عن 50 حرف
              </div>
            </div>
          </div>
  
          <div class="col-12 my-3">
            <div class="d-flex gap">
              <label class="fs-large">عرضه</label>
              <p-inputSwitch formControlName="isVisible"></p-inputSwitch>
            </div>
  
            <div
              *ngIf="IsVisible.hasError('required') && addForm.submitted"
              class="error-msg p-1 small"
              role="alert"
            >
              <i class="fas fa-times-circle me-2"></i>
              مطلوب
            </div>
          </div>
  
          <div class="col-12">
            <div class="form-group">
              <label for="minDesc">التفاصيل بالعربى</label>
              <textarea
                class="form-control"
                name="minDesc"
                id="minDesc"
                rows="3"
                formControlName="detailsAr"
              ></textarea>
  
              <div
                *ngIf="DetailsAr.hasError('required') && addForm.submitted"
                class="error-msg p-1 small"
                role="alert"
              >
                <i class="fas fa-times-circle me-2"></i>
                التفاصيل مطلوبة
              </div>
  
              <div
                *ngIf="DetailsAr.errors?.minlength && addForm.submitted"
                class="error-msg p-1 small"
                role="alert"
              >
                <i class="fas fa-times-circle me-2"></i>
                يجب ان يكون التفاصيل على الاقل 20 حرف
              </div>
  
              <div
                *ngIf="DetailsAr.errors?.maxlength && addForm.submitted"
                class="error-msg p-1 small"
                role="alert"
              >
                <i class="fas fa-times-circle me-2"></i>
                يجب الا تتعدى التفاصيل 250 حرف
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="minDesc">التفاصيل بالانجليزى</label>
              <textarea
                class="form-control"
                name="minDesc"
                id="minDesc"
                rows="3"
                formControlName="detailsEn"
              ></textarea>
  
              <div
                *ngIf="DetailsEn.hasError('required') && addForm.submitted"
                class="error-msg p-1 small"
                role="alert"
              >
                <i class="fas fa-times-circle me-2"></i>
                التفاصيل مطلوبة
              </div>
  
              <div
                *ngIf="DetailsEn.errors?.minlength && addForm.submitted"
                class="error-msg p-1 small"
                role="alert"
              >
                <i class="fas fa-times-circle me-2"></i>
                يجب ان يكون التفاصيل على الاقل 20 حرف
              </div>
  
              <div
                *ngIf="DetailsEn.errors?.maxlength && addForm.submitted"
                class="error-msg p-1 small"
                role="alert"
              >
                <i class="fas fa-times-circle me-2"></i>
                يجب الا تتعدى التفاصيل 250 حرف
              </div>
            </div>
          </div>
  
          <div class="col-12">
            <!-- -------------------------------- Image -------------------------------- -->
            <div class="form-group">
              <label for="Image">الصورة</label>
              <p-fileUpload
                id="Image"
                url="./upload.php"
                (onSelect)="onUpload($event)"
                (onRemove)="onClear()"
                [multiple]="false"
                accept="image/*"
                [showUploadButton]="false"
                [showCancelButton]="false"
                chooseLabel="اختر"
              >
              </p-fileUpload>
  
              <div
                *ngIf="Image.errors?.required && addForm.submitted"
                class="error-msg p-1 small"
                role="alert"
              >
                <i class="fas fa-times-circle me-2"></i>
                الصورة مطلوبة
              </div>
            </div>
          </div>
  
          <div class="col-12 d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-primary rounded-pill w-200px">
              اضافة
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
