<div id="new-password-wrapper" class="h-100">
  <div class="px-2 row g-0 px-md-0 h-100">
    <div class="py-5 col-lg-7 d-flex align-items-center justify-content-center">
      <form
        (ngSubmit)="setNewPassword()"
        #passResetForm="ngForm"
        autocomplete="off"
        class="gap-4 p-2 d-flex flex-column align-items-center w-100"
        autocomplete="off"
      >
        <div class="custom-header">{{ "auth.newPassword" | translate }}</div>
        <div class="mt-3 fs-18">{{ "auth.CreateNewPassword" | translate }}</div>

        <div class="form-group col-12 col-md-6">
          <!-- ---------------------------- Error Message ----------------------------- -->
          <div class="row align-items-center">
            <div class="form-group col-8 col-md">
              <div
                *ngIf="error"
                class="p-1 px-1 error-msg d-block fs-12 rounded-0 col-9"
                role="alert"
              >
                <i class="fas fa-times-circle me-2"></i>{{ error }}
              </div>
            </div>
          </div>
          <label for="code">{{ "Auth.Code" | translate }}</label>
          <input
            type="text"
            class="form-control"
            name="code"
            id="code"
            ngModel
            required
            #code="ngModel"
            autocomplete="off"
          />

          <div
            *ngIf="
              code.hasError('required') &&
              (passResetForm.submitted || code.touched)
            "
            class="p-1 px-1 error-msg d-block fs-12 rounded-0 col-9"
            role="alert"
          >
            <i class="fas fa-times-circle me-2"></i
            >{{ "Auth.VerificationCodeRequired" | translate }}
          </div>
        </div>

        <div class="form-group col-12 col-md-6">
          <label for="password">{{ "auth.newPassword" | translate }}</label>
          <input
            autocomplete="off"
            class="form-control custom-form-control"
            id="password"
            pattern=".{6,}"
            type="password"
            name="password"
            #password="ngModel"
            ngModel
            required
          />

          <div
            *ngIf="
              password.hasError('required') &&
              (password.touched || passResetForm.submitted)
            "
            class="p-1 px-1 error-msg d-block fs-12 rounded-0 col-9"
            role="alert"
          >
            <i class="fas fa-times-circle me-2"></i
            >{{ "Validation.Passwordrequired" | translate }}
          </div>
          <div
            *ngIf="
              password.hasError('pattern') &&
              (password.touched || passResetForm.submitted)
            "
            class="p-1 px-1 error-msg d-block fs-12 rounded-0 col-9"
            role="alert"
          >
            <i class="fas fa-times-circle me-2"></i
            >{{ "Auth.PasswordCountCheck" | translate }}
          </div>
        </div>

        <div class="form-group col-12 col-md-6">
          <label for="confirmPassword">{{
            "auth.confirmPassword" | translate
          }}</label>
          <input
            autocomplete="off"
            class="form-control custom-form-control"
            pattern=".{6,}"
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            pattern=".{6,}"
            #confirmPassword="ngModel"
            ngModel
            required
            appCheckPassword="password"
          />

          <div
            *ngIf="
              confirmPassword.hasError('required') &&
              (confirmPassword.touched || passResetForm.submitted)
            "
            class="p-1 px-1 error-msg d-block fs-12 rounded-0 col-9"
            role="alert"
          >
            <i class="fas fa-times-circle me-2"></i
            >{{ "Auth.ConfirmPasswordRequired" | translate }}
          </div>
          <div
            *ngIf="
              confirmPassword.hasError('notEqual') &&
              (confirmPassword.touched || passResetForm.submitted)
            "
            class="p-1 px-1 error-msg d-block fs-12 rounded-0 col-9"
            role="alert"
          >
            <i class="fas fa-times-circle me-2"></i
            >{{ "Auth.ConfirmPasswordCheckRequired" | translate }}
          </div>
        </div>

        <div
          class="
            gap-3
            mt-3
            d-flex
            flex-column
            justify-content-center
            col-12 col-md-4
          "
        >
          <button type="submit" class="btn primary-btn w-100">
            {{ "Auth.Verify" | translate }}
          </button>
          <button
            (click)="resendCode()"
            type="button"
            class="btn primary-btn w-100"
          >
            {{ "Auth.ResendCodeHeader" | translate }}
          </button>
        </div>
      </form>
    </div>
    <div id="banner" class="overflow-hidden col-lg-5 d-none d-lg-block"></div>
  </div>
</div>
